@import "compass/utilities/sprites";
// @import 'icon/*.png'; 
// @include all-icon-sprites;
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Anton|Proza+Libre|Lobster|Roboto');

i {
	height: 100px;
	width: 100px;
	display: inline-block;
}

.header{
	position: relative;
}

.logo {
    top: 5px;
    left: -3px;
    width: 100px;
    height: 100px;
    position: absolute;
}

nav ul{
	padding-left: 121px;
}

body{
	background: rgb(255,231,179);
	max-width: 960px;
	margin: 0 auto;
	font-family: 'Proza Libre', sans-serif;
	color: rgb(255,231,179);
	// font-family: 'Anton', sans-serif;
}

h1, h2, h3{
	font-family: 'Lobster', cursive;
	font-size: 2em;
	line-height: 1em;
	// font-family: 'Anton', sans-serif;
}

nav a{
	font-family: 'Anton', sans-serif;
	padding-right: 35px;
}

a{
	text-decoration: none;
	color: rgb(0, 0, 0);
}

a:hover {
	color: rgb(255,126,63);
}

.container{
	background: rgba(255,255,255,.65);
}

.hidden{
	display: none;
}

ul li{
	list-style: none;
	display: inline-block;
}

header figure img{
	margin: 0 auto;
}

.story {
	background: rgba(0,0,0,.5);
}

.nav{
	    /* Set a specific height */
    min-height: 50px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding: 10px;
}

.m, .n, .syf, .c, .d, .cu, .l, .on { 
    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding: 10px;
    text-align: center;
}

.m { 
    background: url('../img/burger.gif');
}

.n { 
    background: url('../img/giving-burrito.gif');
}

.syf{ 
    background: url('../img/eating-a-bite.gif');
}

.c{ 
    background: url('../img/eating-cake.gif');
}

.d{ 
    background: url('../img/pizza.gif');
}

.cu { 
    background: url('../img/nom-nom-nom.gif');
}

.l{ 
    background: url('../img/spaghetti.gif');
}

.on{ 
    background: url('../img/goodby.gif');
}

